:root {
    --page-width: 50rem;
}

#not-found {
    display: none; /* set to block in js */
}

.to-search {
    font-size: 2rem;
}

/* object profile */

#object-profile {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    /* flex-wrap: wrap; */
}

#object-profile .name {
    display: flex;
    align-items: center;
    gap: 0.2em;
}

#object-profile-portrait-image {
    height: 1em;
}

#object-profile-image {
    max-width: 10rem;
    object-fit: contain;
    object-position: center;
}


.infobox {
    /* border: 2px solid var(--pink); */
    /* border-radius: 10px; */
    border-collapse: collapse;
}

.infobox th {
    border-radius: inherit;
    
    /* color: white; */
    /* background-color: var(--pink); */
    padding: 0.5rem 1rem;

    font-size: 1.5em;
}

.infobox td {
    padding: 5px;
}


/* stars */

.stars {
    display: flex;
    gap: 0.5rem;
}

.star {
    --color-inactive: #8A2D48;
    --color-active: #FFF53A;
    --color-hover: #FFF53A;

    background-color: #8A2D48;
    width: 1rem;
    aspect-ratio: 1 / 1;

    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);

    position: relative;

    border: none;
}

.star::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #FFF53A;
    display: none;
}

.star.filled-star::after {
    display: revert;
}


.item {
    object-fit: contain;
    height: 1em; /* matches the font size */
}

/* star rewards */

.star-rewards-bar {
    --stars: 0;

    display: flex;
    justify-content: space-between;
    /* background-color: var(--pink); */
    position: relative;
}

.star-rewards-bar::before {
    content: "";
    background-color: #E8E8E8;
    border: 1px solid #B5B5B5;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 2%;
    margin-block: auto;
    width: 96%;
    height: 50%;
    z-index: -1;
}

.star-rewards-bar::after {
    content: "";
    background-color: var(--pink);
    border: 1px solid var(--pink);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 2%;
    margin-block: auto;
    width: calc(96% * ((var(--stars) - 1) / 4)  - 0%);
    height: 50%;
    z-index: -1;
}

.star-rewards-bar[data-stars="0"] {
    --stars: 0;
}

.star-rewards-bar[data-stars="1"]::after {
    --stars: 1;
}

.star-rewards-bar[data-stars="2"]::after {
    --stars: 2;
}

.star-rewards-bar[data-stars="3"]::after {
    --stars: 3;
}

.star-rewards-bar[data-stars="4"]::after {
    --stars: 4;
}

.star-rewards-bar[data-stars="5"]::after {
    --stars: 5;
}

.star-reward {
    display: inline;
    height: 2rem;
    aspect-ratio: 1 / 1;

    padding: 0.3rem;
    background-color: #C0ECFF;
    /* background-image: radial-gradient(white, #A9BED2); */
    box-shadow: inset 2px 2px 2px white,
                0px 1px 2px hsl(0, 0%, 50%);
    border-radius: 50rem;
}

.star-reward img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
    display: block;
}
