:root {
    --page-width: 50rem;
}


/* search bar */

.search-container {
    position: sticky;
    top: 0;

    background-color: var(--page-background-color);
    padding-block: 0.2rem;

    text-align: center;
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
}

#search-bar {
    margin: 0;
}

/* search results */

#search-results {
    --grid-size: 9rem;
    
    display: grid;
    grid-template-columns: repeat(auto-fit, var(--grid-size));
    gap: 0.3rem;
    justify-items: center;
    justify-content: center;
}

/* pony profile */

#object-profile {
    display: none; /* set to block in js */
}

#object-profile h1 {
    display: flex;
    align-items: center;
    gap: 0.2em;
}

#object-profile-portrait-image {
    height: 1em;
}


/* start */

.stars {
    display: flex;
    gap: 0.5rem;
}

.star {
    background-color: #8A2D48;
    width: 1rem;
    aspect-ratio: 1 / 1;

    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);

    position: relative;

    border: none;
}

.star::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #FFF53A;
}

.star[data-filled="0"]::after {
    display: none;
}


.item {
    object-fit: contain;
    height: 1em; /* matches the font size */
}

/* star rewards */

.star-rewards-bar {
    --stars: 0;

    display: flex;
    justify-content: space-between;
    /* background-color: var(--pink); */
    position: relative;
}

.star-rewards-bar::before {
    content: "";
    background-color: #E8E8E8;
    border: 1px solid #B5B5B5;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 2%;
    margin-block: auto;
    width: 96%;
    height: 50%;
    z-index: -1;
}

.star-rewards-bar::after {
    content: "";
    background-color: var(--pink);
    border: 1px solid var(--pink);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 2%;
    margin-block: auto;
    width: calc(96% * ((var(--stars) - 1) / 4)  - 0%);
    height: 50%;
    z-index: -1;
}

.star-rewards-bar[data-stars="0"] {
    --stars: 0;
}

.star-rewards-bar[data-stars="1"]::after {
    --stars: 1;
}

.star-rewards-bar[data-stars="2"]::after {
    --stars: 2;
}

.star-rewards-bar[data-stars="3"]::after {
    --stars: 3;
}

.star-rewards-bar[data-stars="4"]::after {
    --stars: 4;
}

.star-rewards-bar[data-stars="5"]::after {
    --stars: 5;
}

.star-reward {
    display: inline;
    height: 2rem;
    width: 2rem;
    aspect-ratio: 1 / 1;

    padding: 0.3rem;
    background-color: #C0ECFF;
    /* background-image: radial-gradient(white, #A9BED2); */
    box-shadow: inset 2px 2px 2px white,
                0px 1px 2px hsl(0, 0%, 50%);
    border-radius: 50rem;
}

.star-reward * {
    width: 100%;
    height: 100%;
    display: block;
}


/* search options */

.search-option {
    width: 2rem;
    height: 2rem;
    padding-inline: 0.2rem;
}

.search-option img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}
