[data-object-info="residents"] {
    display: flex;
    gap: 0.5rem;
}

[data-object-info="residents"] > .resident {
    width: 5rem;
    height: 5rem;

    border: 2px solid white;
    border-radius: 50rem;
}

[data-object-info="residents"] > .resident > object-image {
    width: 100%;
    height: 100%;
}
